.bio-body-container {
  background-image: url(images/IMG_0327.JPG);
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
}

.bio-section-1 {
  padding: 200px 0px 0vw 20px;
  /* margin: 0px 0px 3vw 0px; */
  height: 300px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bio-first-pic {
  width: 20vw;
  height: auto;
  background-color: #00000019;
  border-radius: 50%;
  margin: 100px;
}

.bio-first-paragraph {
  color: white;
  font-size: 20px;
  text-align: center;
}

.bio-section-2 {
  /* margin: 0px 0px 3vw 100px; */
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.bio-second-pic {
  width: 20vw;
  height: auto;
  background-color: #00000019;
  border-radius: 50%;
  margin: 100px;
}

.bio-second-paragraph {
  color: white;
  font-size: 20px;
  text-align: center;
}