.bio-body-container {
  background-image: url(images/IMG_0327.JPG);
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
}

.bio-section-1-h1 {
  display: flex;
}

.bio-section-1 {
  padding: 200px 0px 0vw 20px;
  height: 300px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bio-first-pic {
  width: 20vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin-left: 5vw;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px 0;
}

.bio-first-paragraph {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-left: 10vw;
}

.bio-section-2 {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.bio-second-pic {
  width: 20vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px 0;
  margin-left: 4vw;
  margin-right: 2vw;
}

.bio-second-paragraph {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 5vw;
  margin-right: 2vw;
}

.bio-section-3 {
  height: 300px;
}