.section-1 {
    height: 10vw;
    background-image: url(./images/retro-sunset-4k_1630531823.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px 45vw 20px;
}