.section-3 {
  background-image: url(images/wallpapertip_4k-city-wallpaper_2512520.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0px 45vw 20px;
}